
#otsikko {
	color: red;
}

#taulukko {
	margin: 10px;
	padding: 10px;
}
#taulukko td {
	color: red;
	background-color: #fff;
  	padding: 15px;
  	border-radius: 5px;
  	border: 3px solid red;
}
#taulukko td a {
	color: red;
	font-family: Helvetica;
	
}
#taulukko th {
	font-family: Helvetica;
	font-size: 20px;
	color: #fff;
	padding: 8px;
	background-color: orange;
	border: 3px solid #fff;
	border-radius: 10px;
	
}

body {
	background-color: #ffd5ff;
}
#lisaamis {
	color: red;
	background-color: #fff;
  	margin: 15px;
  	padding: 12px;
  	border-radius: 10px;
  	border: 3px solid red;
  	width: 30%;
  	text-align: center;

}
#lisaamis input {
	font-family: Helvetica;
	padding: 3px;
	margin-top:3px;
	float: center; 
	clear:both;
}
#nappi {
	color: green;
	font-size:15px;
}
#lisaysnappi {
	color: green;
	font-size:15px;
	border: 3px solid red;
	border-radius: 3px;
	margin-left:25px;
	padding: 1px;
	background-color: white;
	text-decoration:none;
}
#otsikot td {
	color: #ff00ff;
}
